.tabela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{

    background-color: rgb(255, 255, 255);
}

.quadrado {
    width: 20000px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.sesi{
 position: absolute;

    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-300%, -160%) scale(1,1);
}

.userpic{

position: absolute;
top: 50%;
left: 50%;
transform: translate(12%, -110%) scale(0.15);

}


.usuariox{

    
    transform: translate(-2%, 30%) scale(50%)
    
}

.Voltar{

    transform: translate(45%, 2000%);
}